body {
    margin: 50px;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    color:rgb(23, 76, 78);
    background-color: rgb(211, 236, 237);
    text-align: center;
}

main {
    padding: 50px;
    border: 1px solid rgb(23, 76, 78);
    width: 80%;
    margin: 0 auto;
    text-align: left;
    line-height: 2rem;
}

strong {
    font-weight: 900;
}

i {
    font-style: italic;
}

a:link, a:visited, a:hover, a:active {
    color:rgb(41, 137, 141);
    font-weight: 700;
}